:root {
    --background-color: rgb(187, 201, 201);
    --border-color: rgb(212, 138, 138);
    --cta-button-bg-color: orange;
    --cta-button-hover-bg-color: darkorange;
}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    width: 100%;
    padding: 10px;
}

.navigationBar .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 4px solid var(--border-color);
}

.navigationBar .navLinks:hover {
    background-color: lightgray;
}


h1 {
    font-size: 18px;
}

.heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 50px;
    padding: 20px;
    border: 4px solid var(--border-color);
    border-radius: 10px;
}

.heroSection img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.heroSection h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.heroSection p {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.ctaButton {
    background-color: var(--cta-button-bg-color);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.ctaButton:hover {
    background-color: var(--cta-button-hover-bg-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .heroSection {
        flex-direction: column;
    }

    .heroSection img {
        width: 80%;
        margin-bottom: 20px;
    }
}